<nav class="navbar navbar-light bg-light nav-dashboard">
    <a class="navbar-brand" href="#">Navbar</a>

    <div ngbDropdown class="dropdown">
        <button (click)="logout()"
        class="btn btn-secondary" type="button" id="dropdownMenuButton1" aria-expanded="false">
      Log out
      </button>
        <!-- <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
          <li><a ngbDropdownItem href="#">Login</a></li>
          <li><a ngbDropdownItem href="#">Another action</a></li>
          <li><a ngbDropdownItem href="#">Something else here</a></li>
        </ul> -->
      </div>
</nav>